<p id="notice"><%= notice %></p>

<h1>マイページ</h1>
<%= render partial: "search" %>
<%= paginate @articles %>
<%= link_to '記事作成', new_article_path, class: "btn btn-info" %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">タイトル</th>
      <th scope="col">内容</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td>
          <%= article.title %>
          <% article.tags.each do |tag| %>
            <span class="badge rounded-pill bg-primary"><%= tag.name%></span>
          <% end %>
        </td>
        <td><%= article.content %></td>
        <td>
          <%= link_to '詳細', article, class: "btn btn-success" %>
          <%= link_to '編集', edit_article_path(article), class: "btn btn-warning" %>
          <%= link_to '削除', article, class: "btn btn-danger", data: { "turbo-method": :delete , "turbo-confirm": "Are you sure?"}
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
